/* @import url('https://fonts.googleapis.com/css?family=Open+Sans'); */

.footer {
    background-color: #000;
    color: rgb(209, 196, 196); 
    max-height: 432px;
    margin-top: 50px;   
    position: relative;
    overflow: hidden;
}

.copyright {
    margin-top: 30px;
    font-size: initial;
}

.icons a {
    margin-right: 45px;
}

.logos {
    position: absolute;
    bottom: 265px;
    width: 100px;
    border-radius: 20px;
}

.logos--fb {
    right: 90%;
}

.logos--insta {
    right: 78%;
}

.logos--ln {
    right: 66%;
}


.messiFace {
    position: relative;
    left: 38%;
    top: 67px;
}

@media screen and (max-width: 1100px){
    .logos {
        bottom: 305px;
        width: 88px;
    }
    .logos--fb {
        right: 88%;
    }
    
    .logos--insta {
        right: 76%;
    }
    
    .logos--ln {
        right: 64%;
    }
}

@media screen and (max-width: 800px){
    .logos {
        bottom: 325px;
        width: 70px;
    }
}
@media screen and (max-width: 480px){
    .footer {
        max-height: 607px;
    }
    .copyright {
        padding-top: 70px;
    }

    .logos {
        width: 40px;
        bottom: 110px;
    }
    .logos--fb {
        right: 105px;
    }
    .logos--insta {
        right: 55px;
    }
    .logos--ln {
        right: 5px;
    }

    .messiFace {
        position: initial;
    }
}
