@import url('https://fonts.googleapis.com/css?family=Questrial');

body {
  margin: 0;
  padding: 0;
  font-family: 'Questrial', sans-serif !important;;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

